#Configurations file.  5 first properties are required, all others are optional



#  input-file  : Input file or a folder containing files. Only accepts .csv files.
#                In the case of a folder make sure that all .csv files have the same headers(contain the same data)


input-file=data

#  output-file : The output .parquet file name.

output-file=temp2

#  stats-file  :  Specify the path where the statistics file will be written. Default is in the current directory with the name stats.txt

stats-file=stats.txt

#  parquet-size : Defines the amount of records that get written into a parquet. If the size is reached a new parquet file will be made.

#  latitude    : Define the latitude data column in your data.

latitude=Start_LocationLatitude

#  longitude   : Define the longitude data column in your data.

longitude=Start_LocationLongitude

#  time        : Define the time column in your data. Time should be in one of the most used data formats.
#                Accepted formats:


time=Start_TestTimestamp

# start-time : Together with end_time you can specify to make records of data only from a certain timeframe. Please make sure to use the same dateTime format as is in data.

# end-time :  Together with start_time you can specify a certain timeframe to only be valid.

#  columns_to_map_long : Define columns, that contain unique ID-s that are hashed. Data in these rows gets converted into unique ID-s.

columns_to_map_long = VCId, Hashed_GUID

#  long_null_values : Define additional long numbers, that indicate missing data. For example "long_null_values=0,-1"


#  double_null_values : Define additional double numbers, that indicate missing data.


#  float_null_values : Define additional float numbers, that indicate missing data. Max int(2147483647) is sometimes used to indicate missing data

#  string_null_values : Define additional string null values. Empty string ("") is automatically defined as null.

float_null_values=2147483647

####     Following column definitions should be used when you want to redefine a column type or if the converter doesn't convert a desired column.
#        When the first row doesn't contain any data, define the columns down here. Please do not modify the types of the 3 required fields.

# long_columns : Manually defined long columns. Use to retain long values in certain columns.

# float_columns : Manually defined float columns.

# double_columns : Manually defined double columns.

# string_columns : Manually defined string columns. Use to convert fields that are categories but typed in as number into categories.

# time_columns : Define columns that contain time-based information

####    Below define extra null values for columns in the following format: columnname=value1,value2
#       Name the columns exactly as they are in the data

SimOperator=310410,