<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Loggers>

        <Root level="info">
            <AppenderRef ref="COMMON"/>
            <AppenderRef ref="CONSOLE"/>
        </Root>

        <Logger name="com.demograft" level="info" additivity="false">
            <AppenderRef ref="COMMON"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger>

    </Loggers>

</Configuration>